
<!-- 管理者 新規登録画面 -->
<div class="container">
  <div class="row">
    <div class="col-6 offset-3 col-sm-8 offset-sm-2">
      <!-- ページタイトル -->
      <h3 class="text-center pt-5">
        Would you like to manage CAWS <i class="fas fa-question faa-bounce animated"></i><br />
        Please log in below <i class="far fa-arrow-alt-circle-down"></i>
      </h3>

      <!-- ログインページへのリンク -->
      <div class="text-center mt-5 mb-5">
        <i class="fas fa-arrow-right faa-float animated-hover" style="font-size: 30px;">
          <%= render "admins/shared/links" %>
        </i>
      </div>

    </div> <!--col-->
  </div> <!--row-->
</div> <!--container-->