<!-- 管理者用'ユーザー'一覧ページ -->
<div class="container">
  <div class="row">
    <div class="col">
      <!-- ページタイトル -->
      <h2 class="text-center pt-5">USER LIST <i class="fas fa-users"></i></h2>

      <table class="table table-hover text-center mt-5">
        <thead class="thead-dark">
          <tr>
            <!-- ユーザID -->
            <th scope="col">USER ID</th>
            <!-- ニックネーム -->
            <th scope="col">NICKNAME</th>
            <!-- メールアドレス -->
            <th scope="col">E-MAIL ADDRESS</th>
            <!-- ユーザーステータス -->
            <th scope="col">USER STATUS</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= link_to user.name, admins_user_path(user.id), class: "user_#{user.id} text-secondary" %></td>
            <td><%= user.email %></td>
            <td><!-- ユーザステータス/ 退会フラグで条件分岐 -->
              <% if user.is_deleted == true %>
                <p class="text-secondary"> 退会済 </p>
              <% else %>
                <p class="text-success"> 有効 </p>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>

    </div>
  </div>
  <!-- ページネーション -->
  <div class="pagination justify-content-center"><%= paginate @users %></div>
</div>