<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="">USERS ~// ユーザ一覧 //~</h4>
      <table class="users table-bordered table-hover">
        <tr class="">
          <td> User ID </td>
          <td> Nickname </td>
          <td> E-Mail </td>
          <td> Status </td>
        </tr>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, admins_user_path(user.id), class: "user_#{user.id} text-secondary" %></td>
            <td><%= user.email %></td>
            <td>
              <!-- ユーザステータス/ 退会フラグで条件分岐 -->
              <% if user.is_deleted == true %>
                <p class="text-secondary"> 退会済 </p>
              <% else %>
                <p class="text-success"> 有効 </p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col"><%= paginate @users %></div>
  </div>
</div>