<!-- ABOUTページ -->

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col">
      <!-- ページタイトル -->
      <h1 class="text-center pt-5">
        ABOUT <i class="far fa-hand-point-right"></i>
      </h1>
      
      <h3 class="text-center pt-5">
        What's "CAWS" site ?
      </h3>
      <h3 class="text-center">
        = "Cafe As a Working Space"
      </h3>
      <h5 class="text-center pt-3">
        <strong>
        こちらは、“ワーキングスペース”としてのカフェを<br />
        探したい方のためのコミュニティサイトです。<br />
        </strong>
      </h5>
      <p class="text-center pt-3">
        <strong>
        時代とともにカフェの利用目的は多様化しています。<br />
        リモート化が急速に進み、オフィスに出社して仕事をするのが<br />
        当たり前だった時代から在宅勤務やフレックス制など働き方も様々...<br />
        最近では、カフェをワーキングペースとして利用するケースを<br />
        皆さんも見かけることが増えたのではないでしょうか。<br />
        PCで業務をする社会人、参考書を広げる学生...<br />
        しかし、『一人でも気兼ねなく入りたい』、『落ち着いて作業したい』など<br />
        シーンに見合ったカフェを見つけることが困難な時も多いですよね。
        </strong>
      </p>
      <h4 class="text-center pt-3">
        <strong>
        そんな時、このサイトが、皆さんの<br />
        “ワーキングスペース”を見つける一助となれば幸いです。
        </strong>
      </h4>
    </div>
  </div>
</div>