/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
//   background-image: image-url("background3.png");
}

main {
    flex: 10 auto;
    background-color: #b4866b;
}


// ヘッダー
.navbar {
    justify-content: flex end;
    align-items: center;
    background-color: #762f07;
    padding: 8px 12px;
}


.navbar-menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-item i {
    padding: 8px 12px;
    color: #eb9b6f;
}

.nav-item i:hover {
    background-color: #752100;
    border-radius: 4px;
}

// フッター
.footer {
    background-color: #762f07;
}