/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// フォントの種類
body {
  font-family: 'Abril Fatface', cursive;
}

// 全体の設定
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

// body {
//     height: 100%;
//     flex-direction: column;
//     justify-content: space-between;
// }

// 背景
body{
	animation: bgchange 40s ease infinite;
}

@keyframes bgchange{
      0%   {background:#c7aaa5;} // 変化させたい色
      25%  {background:#b59a82;}
      50%  {background:#7d605a;}
      75%  {background:#9e9e7e;}
      90%  {background:#9bb3c2;}
      100% {background:#c7aaa5;}
 }



// ヘッダー
.head-img {
  width: 100%; // 横幅いっぱい
  height: 250px; // 高さ300px
  background-image: image-url("caws_header1.png");
  background-size: cover; // 縦横比を維持したまま背景領域を埋め尽くす
  background-position: center; // 中央に配置
}

// 右から

.fadeRight{
animation-name:fadeRightAnime;
animation-duration:1.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeRightAnime{
  from {
    opacity: 0;
	transform: translateX(100px);
  }

  to {
    opacity: 1;
	transform: translateX(0);
  }
}

// ナビゲーション

nav{
	background: #333;
	color: #efefef;
	text-align: center;
}

/*ナビゲーションを横並びに*/
nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

nav ul li{
	border-bottom:1px solid #ccc;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
// nav ul li{
// 	position: relative;
// }

/*ナビゲーションのリンク設定*/
.nav-item {
// 	display: block;
// 	text-decoration: none;
// 	color: #efefef;
	padding: 20px 35px;
}

.nav-item i{
  color: #efefef;
}

.nav-item i:hover{
	color: #778899;
}

.navbar-toggler {
  background-color: #666;
}

// .navbar {
//     justify-content: flex end;
//     align-items: center;
//     background-color: #502608;
//     padding: 8px 12px;
// }


// .navbar-menu {
//     display: flex;
//     list-style: none;
//     padding-left: 0;
// }


// /*==768px以下の形状*/

// @media screen and (max-width:768px){
// 	nav{
// 		padding: 0;
// 	}

// 	nav ul{
// 		display: block;
// 	}
// }



// フッター

footer {
  height: 100px;
  background-color: #502608;
  background-size: cover;
  background-position: bottom;
  bottom: 0; // 下に固定
  color: #ffcccc;
}

.footer-bottom {
  font-size: 15px;
  color: #e6eae6;
}


// ページネーションデザイン
.pagination {
//   text-align: center;
  padding-top: 50px;
}

.pagination>li>a {
  border: none; // 枠線をなくす
  background: #cbd0d3; // 背景の色
  color: #6f4b3e; // 文字の色
}

// 表示しているページ番号のデザイン
.pagination>li.active {
  color: #6f4b3e; //文字の色
  border-radius: 25px; //角を丸く
}

// ホバー時のデザイン
.pagination a:hover {
  border-radius: 25px; //角を丸く
}
// .pagination p {
//   display: inline-block;
//   width: 30px;
//   height: 30px;
//   margin: 0 5px;
//   color: #fff;
//   background-color: #acabab;
//   border-radius: 3px;
//   line-height: 30px;
// }

// フラッシュメッセージ

.flash {
  color: #852e19;
  font-size: 25px;
  margin-left: 100px;
}

.error {
  color: #630212;
}

.error-maessage {
  font-size: 12px;
  list-style: square;
  margin-left: 60px;
}



// リンクボタン,波紋

.btnripple {
    // 波紋の基点
	position: relative;
    // リンクの形状
	display:inline-block;
    text-decoration: none;
    color: #333;
    outline: none;
}

//波形の設定
.btnripple:hover::before {
    content: '';
    //波形の位置,絶対配置
    position: absolute;
    left:30%;
    top:0;
    // 波形の形状
    border: 1px solid #333;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    //はじめは不透明
	opacity:1;
    // アニメーション設定
    animation:1s circleanime2 forwards;
}

// 波形が広がる
@keyframes circleanime2{
	0%{
	  transform: scale(0);
	}
	100%{
		transform:scale(2);
		opacity: 0;
	}
}
