// Place all the styles related to the users/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 画像の拡大

.zoomIn img{
	transform: scale(1);
	transition: .3s ease-in-out;  // 移り変わる速さ
}

.zoomIn a:hover img{  // hoverした時の変化
	transform: scale(1.2);  // 拡大の値
}

// 画像のマスク

.mask{
    display: block;
    line-height: 0;  // 行の高さを0にする
    overflow: hidden;  // 拡大してはみ出る要素を隠す
}

// card内の画像サイズ調整

.card-img-top {
  object-fit: cover; // 縦横比固定したまま上2つの縦横の範囲内に収まるように配置
  overflow: hidden;
  height: 30em;
}

.scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 350px;
}
