<table class="search-form table-borderless">
  <%= form_with(url: admins_search_path, method: :get, local: true) do |f| %>
  <tr>
    <td><%= f.text_field :keyword, placeholder: "KEYWORD..?", class: "form-control" %></td>
    <td><%= f.select :model, options_for_select({ "KEYWORD" => "Post", "AREA" => "Area" }), {}, class: "form-control" %></td>
    <td><%= f.submit "SEARCH", class: "btn btn-outline-dark"  %></td>
  </tr>
  <% end %>
</table>