<!-- admin/ 検索フォーム(部分テンプレ) -->
<table class="search-form table-borderless">
  <%= form_with(url: admins_search_path, method: :get, local: true) do |f| %>
  <tr>
    <td style="padding:0 10px;"><i class="fas fa-search-plus" style="font-size: 30px;"></i></td> <!--検索アイコン -->
    <!-- 検索ワードフォーム -->
    <td style="padding:0 10px;"><%= f.text_field :keyword, placeholder: "KEYWORD..?", class: "form-control" %></td>
    <!-- モデル選択 (キーワードかエリア名か) -->
    <td style="padding:0 10px;"><%= f.select :model, options_for_select({ "KEYWORD" => "Post", "AREA" => "Area" }), {}, class: "form-control" %></td>
    <!-- 検索ボタン -->
    <td style="padding:0 10px;"><%= f.submit "SEARCH", class: "btn btn-outline-light"  %></td>
  </tr>
  <% end %>
</table>