<!-- フッター(部分テンプレ) -->
<footer class="shadow-sm">
  <div class="container">
    <div class="footer-top">
      <ul class="list-group list-group-horizontal d-flex justify-content-around pt-4">
        <li class=""> プライバシーポリシー </li>
        <li class=""> 利用規約 </li>
        <li class=""> サイトマップ </li>
        <!-- 管理者がログインしているとき -->
        <% if admin_signed_in? %> <!-- 表示なし -->
        <!-- ユーザーが使用するとき -->
        <% else %>
          <li class="">
            <%= link_to inquiry_path do %>
              <i class="far fa-paper-plane faa-float animated" style="color: #ffcccc;"> お問い合わせ </i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="d-flex justify-content-around pt-4">
        © 2021 CAWS All Rights Reserved.
      </p>
    </div>
  </div>
</footer>