<footer class="shadow-sm">
  <div class="container">
    <div class="footer-top">
      <ul class="list-group list-group-horizontal d-flex justify-content-around pt-4">
        <li class=""> プライバシーポリシー </li>
        <li class=""> サイトマップ </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="d-flex justify-content-around pt-4">
        ©️ 2021 CAWS All Rights Reserved.
      </p>
    </div>
  </div>
</footer>