<table class="search-form table-borderless">
  <%= form_with(url: search_path, method: :get, local: true) do |f| %>
  <tr>
    <td style="padding:10px;"><i class="fas fa-search-plus" style="font-size: 30px;"></i></td>
    <td style="padding:10px;"><%= f.text_field :keyword, placeholder: "KEYWORD..?", class: "form-control" %></td>
    <td style="padding:10px;"><%= f.select :model, options_for_select({ "KEYWORD" => "Post", "AREA" => "Area" }), {}, class: "form-control" %></td>
    <td style="padding:10px;"><%= f.submit "SEARCH", class: "btn btn-outline-light"  %></td>
  </tr>
  <% end %>
</table>